# Python cache
__pycache__/
*.py[cod]

# 原始公开数据
/dataset/public/**

# 本地模型权重
/weights/pre_train/*.pth
/weights/pre_train/*.part
/weights/victim/**

# Common local/editor files
.ipynb_checkpoints/
.DS_Store
